on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install -r requirements.txt pyinstaller
      - run: pyinstaller tagstudio/tag_studio.py --add-data 'tagstudio/resources:resources' -F -n tagstudio
      - run: tar czfC dist/tagstudio_linux_x86_64.tar.gz dist tagstudio
      - uses: actions/upload-artifact@v4
        with:
          name: tagstudio_linux_x86_64
          path: dist/tagstudio_linux_x86_64.tar.gz

  macos:
    strategy:
      matrix:
        runner: [macos-11, macos-14]
        include:
          - runner: macos-11
            arch: x86_64
          - runner: macos-14
            arch: arm64
    runs-on: ${{ matrix.runner }}
    env:
      MACOSX_DEPLOYMENT_TARGET: 11.0
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install -r requirements.txt pyinstaller
      - run: pyinstaller tagstudio/tag_studio.py --add-data 'tagstudio/resources:resources' -F -n tagstudio
      - run: tar czfC dist/tagstudio_macos_${{ matrix.arch }}.tar.gz dist tagstudio
      - uses: actions/upload-artifact@v4
        with:
          name: tagstudio_macos_${{ matrix.arch }}
          path: dist/tagstudio_macos_${{ matrix.arch }}.tar.gz

  windows:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install -r requirements.txt pyinstaller
      - run: PyInstaller tagstudio/tag_studio.py --add-data 'tagstudio/resources;resources' -i 'tagstudio/resources/icon.ico' -F -n tagstudio
      - run: Compress-Archive -Path dist/tagstudio.exe -DestinationPath dist/tagstudio_windows_x86_64.zip
      - uses: actions/upload-artifact@v4
        with:
          name: tagstudio_windows_x86_64
          path: dist/tagstudio_windows_x86_64.zip

  publish:
    needs: [linux, macos, windows]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            tagstudio_linux_x86_64/*
            tagstudio_macos_x86_64/*
            tagstudio_macos_arm64/*
            tagstudio_windows_x86_64/*
